In [5]:
import os
from pathlib import Path

import pandas as pd

In [6]:
data_dir = Path(".")
data_name = Path("Zentel Network Service Ticket Data.xlsx")
data_path = data_dir / data_name

zentel_service_data_df = pd.read_excel(data_path, sheet_name="Service Data")
zentel_employee_df = pd.read_excel(data_path, sheet_name="Employee")
zentel_service_type_df = pd.read_excel(data_path, sheet_name="Service Type")
zentel_channel_type = pd.read_excel(data_path, sheet_name="Channel Type")
zentel_fault_type_df = pd.read_excel(data_path, sheet_name="Fault Type")
zentel_location_df = pd.read_excel(data_path, sheet_name="Location")
zentel_resources_df = pd.read_excel(data_path, sheet_name="Resources")

In [9]:
zentel_service_data_df

,Report ID,Report Channel,Customer Name,State Key,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status
0,AXA-20201231-1101-WLESS,CH01,Access,NGS001,2020-12-31 17:07:04.000,2020-12-31 17:10:20.000,2020-12-31 20:44:42.000,NaN,Tunde,,Active,Open
1,AXA-20201230-1102-WLESS,CH01,Access,NGS001,2020-12-30 19:04:06.000,2020-12-30 19:13:18.000,2020-12-30 19:46:30.000,Customers End,Sekina,2021-01-01 13:27:17,Completed,Closed
2,AXA-20201229-1103-WLESS,CH01,Access,NGS001,2020-12-29 18:28:04.000,2020-12-29 18:37:52.000,2020-12-29 20:10:11.000,Customers End,Sherifat,2020-12-30 13:20:43,Completed,Closed
3,AXA-20201229-1104-HSE,CH01,Arik,NGS002,2020-12-29 14:49:16.000,2020-12-29 14:58:23.000,2020-12-29 16:03:56.000,Line damage,Kingsley,2020-12-29 21:34:31,Completed,Closed
4,AXA-20201231-1105-HSE,CH01,Arik,NGS003,2020-12-31 21:43:03.000,2020-12-31 21:47:39.000,2020-12-31 22:20:58.000,Customers End,Kola,2021-01-02 06:54:01,Completed,Closed
...,...,...,...,...,...,...,...,...,...,...,...,...
5993,AXA-20201204-7094-WiFi5,CH06,Lemway,NGS003,2020-12-04 09:10:36.525,2020-12-04 09:10:36.525,2020-12-04 09:10:36.525,Line damage,Sheg,2020-12-04 12:53:29.525000,Completed,Closed
5994,AXA-20201226-7095-WLESS,CH05,BetSan,NGS004,2020-12-26 11:24:17.377,2020-12-26 11:24:17.377,2020-12-26 11:24:17.377,Customers End,Brenda,2020-12-26 16:58:54.377000,Completed,Closed
5995,AXA-20201210-7096-WiFi6,CH06,ValueNaija,NGS029,2020-12-10 12:01:54.071,2020-12-10 12:01:54.071,2020-12-10 12:01:54.071,Customers End,Sola,2020-12-10 16:17:37.071000,Completed,Closed
5996,AXA-20201208-7097-WLESS,CH03,Sahad,NGS007,2020-12-08 09:01:40.601,2020-12-08 09:01:40.601,2020-12-08 09:01:40.601,Line damage,Jonathan,2020-12-08 13:39:54.601000,Completed,Closed
5997,AXA-20201201-7098-VOICE,CH01,BetSan,NGS018,2020-12-01 14:46:10.649,2020-12-01 14:46:10.649,2020-12-01 14:46:10.649,Customers End,Boye,2020-12-01 19:03:24.649000,Completed,Closed

In [1]:
print(f"Service Data DF Shape: {zentel_service_data_df.shape}")
print(f"Employee: {zentel_employee_df.shape}")
print(f"Service Type DF Shape: {zentel_service_type_df.shape}")
print(f"Channel Type DF Shape: {zentel_channel_type.shape}")
print(f"Fault Type DF Shape: {zentel_fault_type_df.shape}")
print(f"Location DF Shape: {zentel_location_df.shape}")
print(f"Resources DF Shape: {zentel_resources_df.shape}")

NameError: name 'zentel_service_data_df' is not defined

In [19]:
zentel_service_data_df.head(3)

,Report ID,Report Channel,Customer Name,State Key,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status
0,AXA-20201231-1101-WLESS,CH01,Access,NGS001,2020-12-31 17:07:04,2020-12-31 17:10:20,2020-12-31 20:44:42,NaN,Tunde,,Active,Open
1,AXA-20201230-1102-WLESS,CH01,Access,NGS001,2020-12-30 19:04:06,2020-12-30 19:13:18,2020-12-30 19:46:30,Customers End,Sekina,2021-01-01 13:27:17,Completed,Closed
2,AXA-20201229-1103-WLESS,CH01,Access,NGS001,2020-12-29 18:28:04,2020-12-29 18:37:52,2020-12-29 20:10:11,Customers End,Sherifat,2020-12-30 13:20:43,Completed,Closed

In [24]:
clean_objects = lambda obj: obt.strip()

[col for col in zentel_service_data_df.columns if zentel_service_data_df[col].dtype == "object"]

['Report ID',
 'Report Channel',
 'Customer Name',
 'State Key',
 'Fault Type',
 'Operator',
 'Ticket Close Time',
 'Ticket Status',
 'Business Status']

In [26]:
zentel_service_data_df.isna().sum()

Report ID              0
Report Channel         0
Customer Name          0
State Key              0
Ticket Open Time       0
Ticket Resp Time       0
Issue Res Time         0
Fault Type           526
Operator               0
Ticket Close Time      0
Ticket Status          0
Business Status        0
dtype: int64

In [20]:
zentel_service_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Report ID          5998 non-null   object
 1   Report Channel     5998 non-null   object
 2   Customer Name      5998 non-null   object
 3   State Key          5998 non-null   object
 4   Ticket Open Time   5998 non-null   datetime64[ns]
 5   Ticket Resp Time   5998 non-null   datetime64[ns]
 6   Issue Res Time     5998 non-null   datetime64[ns]
 7   Fault Type         5472 non-null   object
 8   Operator           5998 non-null   object
 9   Ticket Close Time  5998 non-null   object
 10  Ticket Status      5998 non-null   object
 11  Business Status    5998 non-null   object
dtypes: datetime64[ns](3), object(9)
memory usage: 562.4+ KB

In [ ]:
pd.to_datetime(zentel_service_data_df[""])

In [5]:
zentel_employee_df.head(3)

   Empoyee_ID  Manager ID Employee_name Designation Manager
0       101.0         NaN        Victor     Manager     NaN
1       102.0         NaN         Kerry     Manager     NaN
2       103.0         NaN          Wale     Manager     NaN

In [1]:
zentel_employee_df.describe()

NameError: name 'zentel_employee_df' is not defined